*{
    margin: 0%;
    padding: 0%;
}
.esqcima{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 20%;
    height: 10%;
    background-color: yellow;   
}

.esqbaixo{
    position: fixed;
    top: 90%;
    left: 0%;
    width: 20%;
    height: 10%;
    background-color: red;
}
.dircima{
    position: fixed;
    top: 0%;
    right: 0%;
    width: 20%;
    height: 10%;
    background-color: green;
}
.dirbaixo{
    position: fixed;
    top: 90%;
    right: 0%;
    width: 20%;
    height: 10%;
    background-color: blue;
}